* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
    height: 100%;
    width: 100%;

    .card {
        display: grid;
        grid-template-columns: 16vw 16vw 16vw 16vw 16vw 16vw;
        grid-template-rows: 45vh 45vh;
        flex: wrap;
        padding: 30px 20px;
        gap: 10px;
        background-color: rgb(174, 220, 205);

            .user-profile {
                width: 15vw;
                background-color: #f2dede;
                box-shadow: 20px 20px 50px rgb(102, 102, 102);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                gap: 5px;
                border-radius: 15px;
                padding: 5px;
                perspective: 100px;

                    img {
                        height: 8vw;
                        width: 8vw;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    h1 {
                        font-size: 1.5rem;
                        font-weight: 600;
                    }

                    p {
                        font-size: 1rem;
                        padding: 5px 15px;
                        line-height: 1.3;
                    }

                    button {
                        padding: 15px 20px;
                        background-color: rgb(21, 152, 152);
                        font-size: 1rem;
                        font-weight: 600;
                        border: none;
                        border-radius: 25px;

                        &:hover {
                            color: #030303;
                            background-color: #4f46e5;
                            box-shadow: 0 4px 12px rgba(79, 70, 229, 0.3);
                            transform: scale(1.05);
                            cursor: pointer;

                            &:active{
                                transform: scale(0.95);
                            }
                        }
                    }
            }
        }
}